@model List<UserModel>
@{
    ViewData["Title"] = "User List";
}

<h2>All users</h2>
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th></th>
    </tr>
   @foreach (var user in Model) 
   { 
<tr>
    <td>@user.Id</td>
    <td>@user.Name</td>
    <td><a asp-controller="User", asp-action="View", asp-route-id="@user.Id">Apskatit</a></td>
</tr>
   }
</table>
